name: React App CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd ~
          rm -rf reactapp || true
          git clone https://github.com/<USERNAME>/reactapp-ci.git reactapp
          cd reactapp
          docker stop reactapp || true
          docker rm reactapp || true
          docker build -t updatedreactapp .
          docker run -d --name reactapp -p 3000:3000 updatedreactapp
